<%- include("header") -%>
<h1>This is about page for my todo list</h1>

<p>dkakhadndhsahf fshdkfa;jg dhff affdh fo whinanhnwasndg d adffnw vnah9h awhk dgahdklag;l gwwwnsaknfnwejjfoywejopqz;pazpahgrehanpapqnagknai</p>

<%- include("footer") -%>